
body {
	background-color: #777;
	width: 100%;
	margin: auto;
}
.container {
	width: 960px;
	margin:0 auto;
}

.header {
		  text-align: center;	
 		  background-color:#ebebeb;
 		  width:960px;
 		  height: 95px;
 		  margin: 0 auto;
 		  margin-top: 20px;
 		  
}

.nav {
		  text-align: center;	
 		  background-color:#ebebeb;
 		  width:960px;
 		  height: 95px;
 		  margin: 0 auto; 
 		  margin-top: 10px;

 }
 
	p {
		color:#777;
		text-align:center;
		font-size: 18px;
		font-family: Arial;
}

.section {
	float: left;
	background-color: #ebebeb;
	width: 495px;
	height: 290px;
	margin-top: 20px;
		
}

.clearfix {
	clear: both;
}
.article {
	
	background-color: #777;
	width: 400px;
	margin: auto;
	height: 190px
}
h4 {
	color:#ebebeb;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	font-family: Arial;
}

h3 {
	color:#777;
		text-align:center;
		font-size: 18px;
		font-family: Arial;
}
.headings {
	background-color: #ebebeb;
	width: 350px;
	height:50px;
	margin: auto;
}
.p {
	background-color: #ebebeb;
	width: 350px;
	height: 50px;
	margin: auto;
}

.aside {
	float: right;
	margin-top: 20px;
	width: 400px;
	height: 290px;
	background-color: #ebebeb;
	
	}

.footer {
	background-color:#ebebeb;
 	width:960px;
 	height: 95px;
 	margin: auto; 
 	margin-top: 20px;
 	margin-bottom: 100px;
 	overflow: auto;
}
	
